# ĐÂY LÀ FILE MẪU. Hãy copy file này thành .env và điền các giá trị thực tế vào.

DEBUG=True
SECRET_KEY=
DATABASE_URL=
CLOUDINARY_URL=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DEFAULT_EMPLOYEE_PASSWORD=
