Django>=5.0
djangorestframework
psycopg2-binary
django-environ
gunicorn
dj-database-url
django-cors-headers
django-tinymce
django-storages[s3]
boto3
django-ckeditor
mammoth
django-import-export
openpyxldjango-unfold
